# IntelliJ IDEA
.idea/
*.iml
out/

# Maven
target/
*.class

# Spring Boot
*.jar
*.war

# Node / React
node_modules/
dist/
build/
.env
.env.local

# Docker volumes (no subir datos locales)
docker/volumes/

# OS
.DS_Store
Thumbs.db
