# ===============================
# Compilación / Build
# ===============================
target/
build/
out/
bin/

*.class
*.jar
*.war
*.ear

# ===============================
# Maven
# ===============================
.mvn/
dependency-reduced-pom.xml

# ===============================
# Base de datos SQLite
# ===============================
*.db
*.sqlite
*.db-journal

# ===============================
# NetBeans
# ===============================
nbproject/private/
nbbuild/
nbdist/
nbactions.xml
.nb-gradle/

# ===============================
# IntelliJ
# ===============================
.idea/
*.iml
*.iws
*.ipr

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# Logs y temporales
# ===============================
*.log
tmp/
temp/

# ===============================
# Sistema operativo
# ===============================
.DS_Store
Thumbs.db
desktop.ini
